#dashboardBtn{
    -fx-background-color: #EBE8F9;
}


#dashboardBtn:pressed{
    -fx-background-color: #e9e9e9;
}

#dashboardBtn:hover{
    -fx-background-color: #9C9AA6;
}

.button {
    -fx-background-color: #EBE8F9;
    -fx-text-fill: #000;
    -fx-background-radius: 10;
    -fx-font-size: 14;
}

.button:hover {
    -fx-background-color: #23A455;
    -fx-background-radius: 10;
    -fx-text-fill: WHITE;
}

.button:pressed{
    -fx-background-color: #096C3A;
}

.image-view {
    -fx-background-color: #EBE8F9;
}

.text-field {
    -fx-background-color: #EBE8F9;
    -fx-font-size: 14;
    -fx-background-radius: 8;
}

#searchTextField {
    -fx-background-color: #EBE8F9;
    -fx-background-radius: 18;
    -fx-font-size: 14;
    -fx-border-radius: 18;
    -fx-border-color: #23A455;
}

.combo-box {
    -fx-background-color: #EBE8F9;
}

.tab-pane .tab-header-background {
    -fx-background-color: WHITE;
}

.tab-pane .tab-header-area .tab-down-button {
    -fx-background-color: WHITE;
    -fx-min-width: 0.8em;
    -fx-max-width: 0.8em;
    -fx-min-height: 1.3em;
    -fx-max-height: 1.3em;
}


.tab-pane .tab-header-area .control-buttons-tab .rippler {
    -rippler-fill: WHITE;
}

.tab-pane .tab-header-area .tab-down-button:left {
    -fx-shape: "M 742,-37 90,614 Q 53,651 53,704.5 53,758 90,795 l 652,651 q 37,37 90.5,37 53.5,0 90.5,-37 l 75,-75 q 37,-37 37,-90.5 0,-53.5 -37,-90.5 L 512,704 998,219 q 37,-38 37,-91 0,-53 -37,-90 L 923,-37 Q 886,-74 832.5,-74 779,-74 742,-37 z";

}

.tab-pane .tab-header-area .tab-down-button:right {
    -fx-shape: "m 1099,704 q 0,-52 -37,-91 L 410,-38 q -37,-37 -90,-37 -53,0 -90,37 l -76,75 q -37,39 -37,91 0,53 37,90 l 486,486 -486,485 q -37,39 -37,91 0,53 37,90 l 76,75 q 36,38 90,38 54,0 90,-38 l 652,-651 q 37,-37 37,-90 z"
}

.tab-pane .headers-region > .tab-selected-line {
    -fx-pref-width: 1px !important;
    -fx-pref-height: 2px;
}

.tab-pane .headers-region > .tab > .rippler {
    -rippler-fill: #EBE8F9;
}

.tab-pane .headers-region .tab-selected-line {
    -fx-background-color: #23A455;
}

.tab-pane .headers-region .tab .tab-container .tab-label {
    -fx-text-fill: BLACK;
    -fx-label-padding: 0 0 0 190;
    -fx-font-weight: BOLD;
    -fx-font-size: 16;
}


.tab-pane .headers-region .tab:selected .tab-container .tab-label {
    -fx-text-fill: #23A455;
}

.tab {
    -fx-pref-width: 490px;
    -fx-pref-height: 45px;
    -fx-background-color: WHITE;
}

.dialog-button{
    -fx-background-color: #EBE8F9;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-text-fill: BLACK;
    -fx-label-padding: 5 15 5 15 ;
    -fx-font-size: 14;
}

.dialog-button:hover {
    -fx-background-color: #23A455;
    -fx-background-radius: 10;
    -fx-text-fill: WHITE;
}

.dialog-button:pressed{
    -fx-background-color: #096C3A;
    -fx-text-fill: WHITE;
}

.dialog-header{
    -fx-font-size: 18px; /* Specify the unit (e.g., px or pt) */
    -fx-font-family: 'Montserrat'; /* Use fx-font-family for font family */
}

.dialog-body{
    -fx-font-size: 16px; /* Specify the unit (e.g., px or pt) */
    -fx-font-family: 'Montserrat';
    -fx-text-fill: #096C3A;
}

/*.table-view{
    -fx-table-cell-border-color: derive(-fx-control-inner-background, -30%);
}

.table-row-cell{
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.table-view .scroll-bar:vertical,
.table-view .scroll-bar:horizontal{
    -fx-opacity: 0;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
}

.table-row-cell:empty{
    -fx-background-color: transparent;
}*/
